* {
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  /*text-align: center;*/
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  border: 0.5rem dashed grey;
  border-radius: 25% 10%;
  background-color: linear-gradient(firebrick, blue);
}
a {
  text-decoration: none;
  color: #aa0000;
}
